<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LangLearn</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="">

    <h1>LangLearn - Jakub Kasprzak</h1>

    <div class="grid gap-4">
        <div th:each="f : ${fiszki}">
            
            <div>Słowo:</div>
            <div th:text="${f.german_word}"></div>
            
            <div>Tłumaczenie:</div>
            <div th:text="${f.polish_word}"></div>
            
        </div>
    </div>

</body>
</html>