<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{login.title}">Logowanie</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="flex flex-col justify-center items-center h-screen bg-[#FAFAFA]">
    <form method="get" id="langForm" class="absolute top-4 right-4 flex items-center gap-2">
        <select name="lang"
                onchange="this.form.submit()"
                class="bg-white border border-gray-200 rounded-lg px-2 py-1 text-xl cursor-pointer">
            <option value="en" th:selected="${#locale.language == 'en'}">🇬🇧</option>
            <option value="pl" th:selected="${#locale.language == 'pl'}">🇵🇱</option>
            <option value="de" th:selected="${#locale.language == 'de'}">🇩🇪</option>
        </select>
    </form>

    <form th:action="@{/process-login}" method="post" class="flex flex-col justify-around items-center w-3/4 h-3/5 rounded-2xl shadow-2xl bg-white lg:w-1/2 xl:w-2/5">
        <h2 class="font-bold text-4xl text-center m-4 md:text-5xl"
            th:text="#{app.name}">
            Lang Learn
        </h2>
        <div class="flex flex-col items-center w-3/4">
            <input type="text" name="username"
                   class="border border-black m-4 p-4 rounded-xl w-full text-xl"
                   th:placeholder="#{login.username}" />
            <input type="password" name="password"
                   class="border border-black m-4 p-4 rounded-xl w-full text-xl"
                   th:placeholder="#{login.password}" />
            <div th:if="${errorMessage}"
                 class="text-red-700 font-bold mb-[10px] text-sm">
                <p th:text="${errorMessage}"></p>
            </div>
        </div>
        <div class="mt-4 text-center">
            <p class="text-sm text-gray-600"
               th:text="#{login.no.account}">
                Nie masz konta?
            </p>

            <a href="/register"
               class="text-blue-500 hover:underline font-semibold"
               th:text="#{login.register}">
                Zarejestruj się
            </a>
        </div>

        <button type="submit"
                class="border p-4 rounded-xl w-2/5 font-bold text-lg cursor-pointer hover:bg-[#FAFAFA]"
                th:text="#{login.button}">
            Zaloguj
        </button>
    </form>
</div>

</body>
</html>